{% extends '_base_template.html' %}
{% load static %}
{% block seo_description %}{% endblock %}
{% block seo_keyword %}{% endblock %}
{% block title %}Home{% endblock %}
{% block stylesheet %}{% endblock %}

{% block body %}
    <br><br>
    <div class="col d-flex justify-content-center">
    <div class="card col-sm-5 center ">
                <article class="card-body">
                    <a href="{% url 'register' %}" class="float-right btn btn-outline-primary">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login</button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
    </div>

    <br>

{% endblock %}
{% block script %} {% endblock %}

